body{
    font-family: 'Open Sans', serif;
    letter-spacing: 1px;
    font-size: 20px;
}

.navbar-nav > li > a{
    line-height: 50px;
}

.navbar-inverse{
    background-color: #3F2917;
    border-color: #3F2917;
}

.navbar-brand{
    line-height: 50px;
    color: #FFFFFF;
    font-weight: bold;
}

.navbar-brand a:hover{
    color: #F6F4CE;
}

#img_header{
    margin-top: 81px;
    background: url('../img/back_section_header.jpg') no-repeat center center fixed;
    height: 100%;
    background-size: cover;
    width: 100%;
}

.background{
    /* background: url('../img/brown.jpg') repeat center center fixed; */
    background: #F6F4CE;
    height: 100%;
    background-size: cover;
    width: 100%;
    color: #000;
}

#description, #licensing, #donating{
    padding: 38px 0;
}

.page-header{
    border-bottom: 1px solid #3F2917;
}

.background p, .background li, .background .page-header h1{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


